@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@300;600;700&display=swap');

.HomeBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TopHeader {
    width: 100%;
    height: 6.5rem;
    background-color: #bd1b58;
}

.HeaderContents {
    width: 82%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logo h1 {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
}

.MiddleText p {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 29px;
}

.MemberAreaBtn {
    width: 230px;
    height: 55px;
    background-color: transparent;
    border-radius: 5px;
    border-color: #c393c6;
    border-width: 3px;
    outline: none;
    color: #FFFFFF;
    transition: all 300ms ease;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 16px;
}

.MemberAreaBtn:hover {
    border-color: #FFFFFF;
}

.icon {
    width: 20px;
    height: 20px;
}

.NavBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.9rem;
    background-color: #2254a8;
}

.NavBarBtns {
    width: 82%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.NavBarBtns button {
    width: 160px;
    height: 38px;
    border-radius: 5px;
    border-width: 0.5px;
    outline: none;
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    transition: all 300ms ease;
}

.NavBarBtns button:hover {
    background-color: #FFFFFF;
    color: #2254a8;
}

.Profile {
    color: #FFFFFF;
    margin-right: 2%;
    width: 23px;
    height: 23px;
    cursor: pointer;
}